@model IEnumerable<DataBaseFirstMVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid flex-grow-1 flex-nowrap">
    <div class="row">
        <div class="col-md-5">
            <p>
                <a asp-controller="Students" asp-action="Create">Create New</a>
            </p>

        </div>


        <div class="col-md-5">
            <form asp-action="Index" method="get">
                <input type="text"  name="name"  id="name"/>
               @* <input type="submit" text="Search" class="btn btn-primary" />*@
               <button onclick="getData(document.getElementById('name').value)">Search</button>
            </form>


        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function getData(ID) {
        $.ajax(
            {
                type: "GET",
                Data: {id:ID}
                url: "@Url.Action("Index")",
                dataType: "json",
                success: function (result) {
                    alert(result)
                },
                error: function (req, status, error) {
                    alert(error)
                }

</script>