@model ProductDto

@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>


<div class="card carousel-dark">
    <div class="card-body">
        <div class="card-title text-center mb-3">
            <h3>@(Model?.Id != Guid.Empty ? "Update" : "Create") Product</h3>
        </div>
        <form method="post" enctype="multipart/form-data" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger text-right"></div>
            <input asp-for="Id" name="Id" type="hidden"/>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">

                @if (!string.IsNullOrEmpty(Model?.ImageUrl))
                {
                    <p>Current File: <img src="@Model.ImageUrl" alt="@Model.Name" style="width: 50px; height: 50px;" class="img-thumbnail" /></p>
                    <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />

                    <label asp-for="File" class="form-label"></label>
                    <input asp-for="File" class="form-control" />
                    @*<span asp-validation-for="File" class="text-danger"></span>*@
                }
                else
                {
                    <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />
                    <label asp-for="File" class="form-label"></label>
                    <input asp-for="File" class="form-control" />
                    @*<span asp-validation-for="File" class="text-danger"></span>*@
                }

            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label"></label>
                @* <input asp-for="CategoryId" class="form-control" />*@
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="@Model?.Categories">
                    <option selected disabled>--Select Category--</option>
                </select>

                @*                    @if(Model.Categories!=null)
                {
                @foreach (var category in Model.Categories)
                {
                if(category.Id == @Model.CategoryId)
                {
                <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                <option value="@category.Id">@category.Name</option>
                }
                }
                }*@


                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <input type="button" onclick="SubmitProduct()" class="btn btn-primary my-3 offset-5" value="Submit" />
        </form>
    </div>
</div>

